body{
  background-color: #8a8a8a;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #333;
  color: #fff;
}

h1 {
  text-align: center;
  font-family:'Times New Roman', Times, serif ;
  color: rgb(255, 255, 104);
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"] {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #444;
  color: #fff;
}

button {
  font-size: 18px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  background-color:rgb(255, 251, 44);
  color: #000000;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #fdff90;
}

p {
  margin-top: 20px;
}

.zaka{
  font-size: 19px;
  color: yellow;
}